<!-- nav -->
<div class="container">
    <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/dashboard">Home</a>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>

            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/waardelijst">Waardelijsten</a>

        </div>
    </nav>

    <router-outlet></router-outlet>

    <app-messages></app-messages>
</div>
