<!-- nav -->
<div class="container">
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
        <!--
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/waardelijst">Waardelijsten</a>
        -->
    </div>
</nav>

    <router-outlet></router-outlet>
    <!--
    <h1>{{title}}</h1>


    <div class="left-panel">

        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
            <a class="nav-item nav-link" routerLink="/waardelijst">Waardelijst</a>
        </div>

        <nav>
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/waardelijst">Waardelijsten</a>
        </nav>

        <router-outlet></router-outlet>
    </div>
    <div class="right-panel">
        right panel

    </div>
-->
        <app-messages></app-messages>
</div>
